# Express API Server Configuration
PORT=5000

# MongoDB URI connection string
# Change localhost to mongo if running inside Docker or update with cloud Atlas URI
MONGODB_URI=mongodb://localhost:27017/ai_resume_analyser

# URL of the AI FastAPI microservice
AI_SERVICE_URL=http://localhost:8000
